<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <style>
        /* Add CSS styles for RTL formatting */
        body {
            direction: rtl;
            text-align: right;
        }
    </style>
</head>
<body>
    <h2 dir="rtl">שלום {{ user_name }},</h2>
    <p dir="rtl">זוהי הודעת תזכורת כי שובר מספר {{voucher_id}} עומד לפוג בעוד כ{{ days_until_expiry }} ימים.</p>
    <p dir="rtl">שובר זה הינו על סך {{voucher_amount}} שקלים עבור {{store_name}}</p>
    <p dir="rtl">ודא כי הינך ממש את הושבר טרם תפוגתו.</p>
    <p dir="rtl">בברכה מערכת PayWise</p>
</body>
</html>
